




          <article>
     
            <h3><a href="#"><%= @race.title %></a></h3>
            <h6>Written by <a href="#">John Smith</a> on August 12, 2012. <%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
</h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p><%= @race.country %></p>
              </div>
              <div class="large-6 columns">
                <img src="http://www.c4l.co.uk/uploads/MotoGP%20Le%20Mans.jpg"/>
              </div>
            </div>
     
            <p>Los que acudan a votar en Cervera (Lleida) el próximo 24 de mayo en las elecciones municipales y autonómicas se encontrarán con una sorpresa: Marc Márquez será quien les pida el DNI para poder ejercer su derecho al sufragio. El piloto de MotoGP ha sido uno de los elegidos por el sorteo que decide quiénes estarán al frente de las mesas electorales del municipio.
Según publica el diario ‘Nació’, el bicampeón del mundo fue elegido al azar en un acto celebrado hace dos semanas. Márquez no puede alegar motivos profesionales para faltar a su deber electoral porque el domingo que se celebran las elecciones no coincide con ninguna cita del calendario del Mundial de motociclismo: el GP de Francia se disputa el 17 de mayo; y el de Italia, el 31 de mayo.


Leer más:  Elecciones Municipales y Autonómicas 2015: Marc Márquez, piloto de MotoGP, vocal de una mesa electoral en Cervera Elecciones Municipales y Autonómicas. </p>
     
          </article>
     
          <hr/>
     