      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="#" class="button secondary">Carreras</a></li>
             <li><a href="#" class="button secondary">Temporadas</a></li>
             <li><a href="#" class="button secondary">Temporadas</a></li>
             <li><a href="#" class="button secondary">Motos</a></li>
             <li><a href="#" class="button secondary">Chicas</a></li>
            </ul>
          </div>
          <h1>Blog <small>DIGIMOTO</small></h1>
          <hr/>
        </div>
      </div>